.intro-section{
    color:white;
    background-color: #2F3A82;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "text photo"
    "null photo";
    text-align: left;
    padding: 20vh 0 0 10vw;
    height: 100vh;
    margin: 0 auto;
}

.intro-text{
    grid-area: text;
    padding: 12.5% 0;
}

#heya{
    font-size: min(3vh, 3vw);
    padding: 0%;
    margin: 0;
    font-weight: normal;
}

.my-name{
    font-size: min(12vh, 8vw);
    padding: 0%;
    margin: 0;
}

#my-name{
    color:white;
}

#desc_holder {
    position: relative;
    font-weight: bold;
    font-size: min(2vh, 2vw);
    margin: 0;
    height: min(6vh, 6vw);
}

#a-role {
    position: absolute;
    top: 0%;
}

#b-role {
    position: absolute;
    top: 50%;
    opacity: 0;
}

.intro-links{
    width: 3%;
    height: 3%;
    margin: 2.5% 0.5%;
}

#intro-photo-border{
    grid-area: photo;
    width: 75%;
    height: 100%;
    display: block;
    margin-right: auto;
}

#intro-photo{
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    border: min(5px, 1vw) solid #ffffff;
    border-radius: min(2vh, 2vw);
}

