#about{
    background-color: #2F3A82;
    margin: 5vh auto;
    padding: 0% 10vw;
    padding-top: 4vh;
    height: 100%;
}

.about-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.about-text{
    color:white;
    text-align: left;
    font-size: min(1.7vh, 1vw);
}

#about-header{
    text-align: left;
    color:white;
    font-size: min(3vh, 2vw);
}

.tech-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

li::marker{
    content: "→ ";
    font-size: 1.2em;
}

li{
    margin: 3% 0;
}

.about-photo-border{
    width: 60%;
    height: 100%;
    margin-left: auto;
}

#about-photo{
    max-width: 100%;
    max-height: 100%;
    border: min(5px, 1vw) solid #171838;
    border-radius: calc(1.5vh + 1.5vw);
}