#shows{
    background-color: #2F3A82;
    color: white;
    text-align: left;
    padding: 0% 10vw;
    padding-top: 4vh;
}

#showsHeader {
    font-size: min(3vh, 2vw);
}

.showsText {
    font-size: min(1.7vh, 1vw);
}

#showGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1vh;
}