.showElement {
    position: relative;
    text-align: center;
    color: white;
    margin: 0.5vh 1vw;
}

.showImage {
    width: 100%;
    border: 5px solid white;
    border-radius: calc(1vh + 1vw);
    aspect-ratio: 2 / 1;
    object-fit: cover;
}

.showImage:hover {
    filter: blur(50%);
}

.showTitle {
    text-align: center;
    position: absolute;
    top: 1vh;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: large;
}